.THIS {
    background-color:grey;
}
.THIS.white{
    background-color:white;
}
.THIS .red{
    background-color:red;
}
.THIS .green{
    background-color:green;
}
.THIS .blue{
    background-color:blue;
}